extends ./layout/index
block contenido
     main.container.mt-5
        .row
            .col-md-5
                img(src="img/nosotros.jpg", alt="", class="img-fluid")

            .col-md-7
                h1= pagina 
                blockquote Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean quis diam eget lectus molestie euismod in a diam. Donec eget pulvinar lectus, at tempus velit. Maecenas quis vulputate ante. Nam arcu nulla, placerat vel mattis vitae, consequat imperdiet quam. Proin vitae tellus non tellus posuere interdum eget eu velit. In fringilla feugiat libero id aliquam. Nulla convallis justo nisi, sit amet dignissim metus suscipit id. Praesent et lacinia neque.

                p Morbi pellentesque, eros condimentum finibus ultricies, purus est lacinia ligula, a accumsan nibh dolor at augue. Proin porttitor ligula et lectus dignissim, aliquet lobortis velit interdum. Phasellus purus dui, malesuada eu velit sit amet, tempus ultrices nibh. Maecenas pulvinar vehicula orci et finibus. Praesent rutrum hendrerit diam, vitae tincidunt est varius ut.

    

        .listado-iconos 
            .container.mt-5 
                .row 
                    .col-md-4.text-center
                        
                        img(src="img/icono_seguridad.svg", alt="")
                        h2.mb-2 Seguridad
                        p Morbi pellentesque, eros condimentum finibus ultricies, purus est lacinia ligula, a accumsan nibh dolor at augue. Proin porttitor ligula et lectus dignissim, aliquet lobortis velit interdum. Phasellus purus dui, malesuada eu velit sit amet.
                        
                    .col-md-4.text-center
                        img(src="img/icono_destinos.svg", alt="")
                        h2.mb-2 Destinos
                        p Morbi pellentesque, eros condimentum finibus ultricies, purus est lacinia ligula, a accumsan nibh dolor at augue. Proin porttitor ligula et lectus dignissim, aliquet lobortis velit interdum. Phasellus purus dui, malesuada eu velit sit amet.
                    .col-md-4.text-center
                        
                        img(src="img/icono_precios.svg", alt="")
                        h2.mb-2 Precios
                        p Morbi pellentesque, eros condimentum finibus ultricies, purus est lacinia ligula, a accumsan nibh dolor at augue. Proin porttitor ligula et lectus dignissim, aliquet lobortis velit interdum. Phasellus purus dui, malesuada eu velit sit amet.