.row.testimoniales
    each testimonial in testimonio
         
        .col-md-5.col-md-4
            .card 
                .card-body 
                    blockquote.blockquote
                        p.mb-0 
                            | #{testimonial.mensaje}
                        footer.blockquote-footer
                            | #{testimonial.nombre}