footer.container.py-5
    .row
        .col-md-6 
            nav.nav.footer.justify-content-center.justify-content-md-start
                a(href="/nosotros") Nosotros 
                a(href="/viajes") Viajes
                a(href="/testimoniales") Testimoniales
        
        .col-md-6
            p.copyright.text-center.text-md-rigth  Todos los derechos reservados
                span=actualYear